* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1493ff;
}

header {
  height: 96px;
  background-color: #1f375b;
}

header .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
  padding-right: 150px;
  background-color: #1493ff;
}

.login-button {
  background-color: #1493ff;
  height: 40px;
  width: 75px;
  color: ghostwhite;
  border: 1px solid ghostwhite;
  border-radius: 5px;
}

.login-button:hover {
  color: #1493ff;
  background-color: ghostwhite;
}